# import necessary libraries

In [43]:
import pandas as pd
import numpy as np

# Question 1:

In [44]:
cutlets=pd.read_csv('Cutlets.csv')
cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [45]:
unitA=cutlets.iloc[:,0]
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [46]:
unitB=cutlets.iloc[:,1]
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [47]:
cutlets.shape

(35, 2)

In [48]:
cutlets.describe().T

        count      mean       std     min     25%     50%      75%     max
Unit A   35.0  7.019091  0.288408  6.4376  6.8315  6.9438  7.28055  7.5169
Unit B   35.0  6.964297  0.343401  6.0380  6.7536  6.9399  7.19500  7.5459

In [49]:
# we have to use two-sample_two-tail test here as we are  dealing with two means or two diameters

### null hypothesis : there is no difference  in diameter of cutlets between unitA and unitB
### alternative hypothesis : there is difference in diameter of cutlets between unitA and unitB 
### if p value > alpha (0.05) then accept null hypothesis
### if p value < alpha (0.05) then accept alternative hypothesis

In [50]:
from scipy import stats 
from scipy.stats import norm
cutlets_results=stats.ttest_ind(unitA,unitB)
cutlets_results

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [51]:
p_value=cutlets_results[1]
p_value

0.4722394724599501

### as p_value>0.05 ,we accept null hypothesis
### so we conclude that  there is no difference in diameter of cutlets between unitA and unitB

# Question 2 :

In [52]:
laboratory=pd.read_csv('LabTAT.csv')
laboratory

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [53]:
laboratory.shape

(120, 4)

In [54]:
laboratory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [55]:
laboratory.describe().T

,count,mean,std,min,25%,50%,75%,max
Laboratory 1,120.0,178.361583,13.173594,138.30,170.3350,178.530,186.5350,216.39
Laboratory 2,120.0,178.902917,14.957114,140.55,168.0250,178.870,189.1125,217.86
Laboratory 3,120.0,199.913250,16.539033,159.69,188.2325,199.805,211.3325,238.70
Laboratory 4,120.0,163.682750,15.085080,124.06,154.0500,164.425,172.8825,205.18

In [56]:
# here we apply the Anova oneway test as we have 4 sample means(Laboratory 1,Laboratory 2,Laboratory 3,Laboratory 4)and the decision is based on a single variable which is TAT (Turn Around Time)

### null hypothesis : all four laboratory reports are same there is no differeence
### alternative hypothesis : atleast one laboratory report is different from others   
### if p value > alpha(0.05) then accept null hypothesis
### if p value < alpha(0.05) then accept alternative hypothesis

In [57]:
annova_oneway=stats.f_oneway(laboratory['Laboratory 1'],laboratory['Laboratory 2'],laboratory['Laboratory 3'],laboratory['Laboratory 4'])
annova_oneway

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [58]:
annova_pvalues=annova_oneway[1]
annova_pvalues # less tha 0.05

2.1156708949992414e-57

 ### as p value < alpha(0.05) then accept alternative hypothesis atleast one laboratory report is different from others

# Question 3:

In [59]:
buy_ratio=pd.read_csv('BuyerRatio.csv')
buy_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [60]:
buy_ratio.shape

(2, 5)

In [61]:
buy_ratio.describe().T

       count   mean         std    min     25%    50%      75%     max
East     2.0  242.5  272.236111   50.0  146.25  242.5   338.75   435.0
West     2.0  832.5  976.514465  142.0  487.25  832.5  1177.75  1523.0
North    2.0  743.5  866.205807  131.0  437.25  743.5  1049.75  1356.0
South    2.0  410.0  480.832611   70.0  240.00  410.0   580.00   750.0

In [62]:
buy_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [63]:
# we use Anova testing as we have to deal with four means i,e., greater than two

### null hypothesis  : all proportions are equal that means there is no difference between our four proportion
### alternative hypothesis : not all proportions are equal (atleast one proportion is different from others)
### if p value > alpha(0.05) then accept null hypothesis
### if p value < alpha(0.05) then accept alternative hypothesis

In [64]:
annova_buy_ratio=stats.f_oneway(buy_ratio['East'],buy_ratio['West'],buy_ratio['North'],buy_ratio['South'])
annova_buy_ratio

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [65]:
annova_pvalues_buy_ratio = annova_buy_ratio[1]
annova_pvalues_buy_ratio

0.8204060154887464

### as pvalue greater than 0.05 we accept null hypothesis

# Question 4 :

In [66]:
customer=pd.read_csv('Costomer+OrderForm.csv')
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [67]:
customer.shape

(300, 4)

In [68]:
customer.describe().T

             count unique         top freq
Phillippines   300      2  Error Free  271
Indonesia      300      2  Error Free  267
Malta          300      2  Error Free  269
India          300      2  Error Free  280

In [69]:
customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [70]:
customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [71]:
customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [72]:
customer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [73]:
# we use chi square contingency test as we  dealwith two categorical values Error Free & Defective

### null hypothesis  : there is no difference between our all proporations
### alternative hypothesis : there is atleast one proportion is different

In [74]:
contingency_table=np.array([(280,269,267,271),(20,31,33,29)])

In [75]:
from scipy.stats import chi2_contingency

In [76]:
customer_chi2=chi2_contingency(contingency_table)
customer_chi2

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [77]:
customer_p_value = customer_chi2[1]
customer_p_value

0.2771020991233135

### as  p value > alpha value(0.05) 
### we accept null hypothesis